@import '../config';

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('PlusJakartaSans-Regular.woff') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('PlusJakartaSans-Bold.woff') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('PlusJakartaSans-ExtraBold.woff') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-display: swap;
}

body {
	font-family: $jakarta;
}