<div class="buttonsColumn">
  <div class="buttonsColumn__wrapper wrapper">
    <div class="buttonsColumn__row row">
      <a class="buttonsColumn__col" href=""></a>
      <a class="buttonsColumn__col" href=""></a>
      <a class="buttonsColumn__col" href=""></a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Buttons column",
    "settings": [],
	"presets": [
      {
        "name": "Buttons column",
        "category": "Custom"
      }
	]
  }
{% endschema %}

