<div class="buttonsColumn">
  <div class="buttonsColumn__wrapper wrapper">
    <div class="buttonsColumn__row row">
      <a class="buttonsColumn__col" href=""></a>
      <a class="buttonsColumn__col" href=""></a>
      <a class="buttonsColumn__col" href=""></a>
    </div>
  </div>
</div>

<div id="section-cta">
  <h3> {{ section.settings.text-box }} </h3>
  <a href="{{ section.settings.link }}" class="button">{{ section.settings.linktext }}</a>
</div>

{% schema %}
{
  "name": "Call to action",
  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "linktext",
      "type": "text",
      "label": "Button text",
      "default": "Click Here"
    }
  ],
	"presets": [
      {
        "name": "Buttons column",
        "category": "Custom"
      }
	]
}
{% endschema %}

