<div class="buttonsColumn">
  <div class="buttonsColumn__wrapper wrapper">
    <div class="buttonsColumn__row row">
      <a class="buttonsColumn__col" href=""></a>
      <a class="buttonsColumn__col" href=""></a>
      <a class="buttonsColumn__col" href=""></a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Buttons column",
    "settings": [],
	"blocks": [
	{
      "type": "button",
      "name": "t:sections.buttons-column.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.buttons-column.blocks.button.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.buttons-column.blocks.button.settings.button_link.label"
        }
      ]
    }
	],
	"presets": [
      {
        "name": "Buttons column",
        "category": "Custom"
      }
	]
  }
{% endschema %}

