<div class="custom-text-section">
  <h2> {{ section.settings.subheading }} </h2>
  <div>{{ section.settings.heading }}</div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
		{
          "type": "text",
          "id": "subheading",
          "default": "Section sub-heading",
          "label": "Section sub-heading"
        },        
		{
          "type": "text",
          "id": "heading",
          "default": "Section heading",
          "label": "Section heading"
        }
	],
	"presets": [
      {
        "name": "Multiple images text section",
        "category": "Custom"
      }
	]
}
{% endschema %}

