@import '../config';

.button {
	&.button--primary {
		text-align: center;
		max-width: 150px;
		padding: 0;
		border: 2px solid #32343E;
		background-color: $black;
		font-size: 18px;
		letter-spacing: 0.45em;
		text-transform: uppercase;
	}
}