@import '../config';
@import '../core/breakpoints';

.card-wrapper {
	&:hover {
		.card-information__text h5 {
			text-decoration: none;
		}

		.full-unstyled-link {
			color: $white !important;
		}

		.price .price__icon {
			svg path {
				stroke: $white;
			}
		}
	}

	.card-information__text {
		font-weight: 800;
		font-size: 33px;
		line-height: 1.3;
		@include max940px {
			font-size: 27px;

		}

		.full-unstyled-link {
			color: #6B6F85;
			transition: all 300ms ease-in-out;
			&:hover {
				text-decoration: none !important;
			}
		}
	}

	.caption-large {
		display: none;
	}

	.price {
		display: flex;
		justify-content: space-between;
		font-weight: 400;
		.price__regular {
			font-size: 24px;
			line-height: 1.6;
			color: $white;
		}

		.price-item {
			font-size: 24px;
			line-height: 1.6;
			color: $white;
			@include max940px {
				font-size: 20px;
			}
		}

		.price__icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			box-sizing: border-box;
			svg path {
				width: 50px;
				height: 50px;
				stroke: #32343E;
				transition: all 300ms ease-in-out;
			}
		}
	}
}

.cart__empty-text {
	text-align: center;
}
