@import '../config';

.banner {
	.banner__box {
		background-color: transparent;
	}

	.banner__content {
		padding-top: 0;
		justify-content: flex-start;
	}

	.banner__media {
		img {
			max-width: 860px !important;
			right: 0;
			left: auto !important;
		}
	}

	.banner__heading {
		text-align: left;
		color: $white;
		font-size: 10.7rem;
		line-height: 11.25rem;
		font-weight: bold;
	}

	.banner__box {
		padding: 100px 0 0 185px;
		.banner__text {
			text-align: left;
			max-width: 490px;
			width: 100%;
			margin: 4.5rem 0;
			font-size: 1.7rem;
			line-height: 2.7rem;
			color: #8A90A3;
			font-weight: 400;
		}

		.banner__buttons {
			justify-content: flex-start;
			gap: 2rem;
			margin-left: 0;
			margin-right: 0;
		}
	}
}
