@import '../config';
@import '../core/breakpoints';

.banner {
	.banner__box {
		background-color: transparent;
	}

	.banner__content {
		height: 100%;
		padding-top: 0;
		justify-content: center;
		@media screen and (min-width: 750px) {
			padding-bottom: 0;
		}
	}

	.banner__media {
		background-color: $black;
		img {
			max-width: 860px !important;
			right: 0;
			left: auto !important;
		}
	}

	.banner__wrapper {
		max-width: 1920px;
	}

	.banner__video {
		display: block;
		width: 100%;
	}

	.banner__hero {
		position: relative;
	}

	.banner__inner {
		position: relative;
		z-index: 1;
		padding: 80px 40px;
		@include max480px {
			padding: 60px 40px;
		}
	}

	.banner__text {
		text-align: center;
		color: #8A90A3;
		font-size: 24px;
		font-weight: 400;
		margin-bottom: 0;
		@include max1024px {
			br {
				display: none;
			}
		}

		@include max480px {
			font-size: 19px;
		}

		strong {
			color: $white;
			font-weight: 900;
		}
	}

	.banner__heading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 100%;
		padding: 0 1rem;
		box-sizing: border-box;
		color: $white;
		font-size: 96px;
		line-height: 100px;
		font-family: $jakarta;
		font-weight: 900;
		@include max940px {
			font-size: calc(3rem + 3vw);
		}

		@include max480px {
			font-size: calc(2.25rem + 3vw);
		}
	}
}
