@import '../config';

.header-wrapper {
	background-color: $black;

	.header {
		display: flex;
		justify-content: space-between;
		max-width: 1680px;
		width: 100%;
		margin: 0 auto;
		padding-top: 1rem;
		padding-bottom: 1rem;

		.header__col--nav {
			display: flex;
		}

		.header__inline-menu {
			margin-right: 1.7rem;
		}

		.header__menu-item,
		.header__active-menu-item {
			color: $menu-items-color;
			text-decoration: none;
			span {
				transition: all 300ms ease-in-out;
			}

			&:hover {
				span {
					text-decoration: none;
					color: $white;
				}
			}
		}

		.header__menu-item {
			font-size: 1.3rem;
			padding: 1.2rem 2.85rem;
		}

		.header__active-menu-item {
			color: $white;
		}
	}
}
.header-wrapper--border-bottom {
	border-bottom: 0;
}

.header__icon {
	.icon-search {
		fill: $white;
	}

	.icon-cart {
		width: 28px;
		height: 28px;
	}
}

.header__icon--cart {
	margin-right: 15px !important;
}
