@import '../config';
@import '../core/breakpoints';

.multicolumn {
	margin-top: 0 !important;
	margin-bottom: 15rem !important;
}

.multicolumn-list {
	@media screen and (max-width: 1360px) {
		flex-flow: row wrap;
	}

	@include max480px {
		padding: 0 0.5rem !important;
	}

	.multicolumn-card {
		display: flex;
		@include max640px {
			justify-content: center;
		}

		.multicolumn-card__info {
			padding: 1rem 0 !important;
		}

		.multicolumn-card__copy {
			max-width: 290px;
			width: 100%;
			p {
				font-size: 20px;
				font-weight: 400;
				color: #81869D;
				@include max480px {
					font-size: 18px;
				}
			}
		}
	}

	.multicolumn-list__item {
		@media screen and (max-width: 1360px) {
			width: auto;
		}
	}

	h3 {
		font-size: 26px;
		font-weight: 900;
		color: $white;
		@include max480px {
			font-size: 22px;
		}
	}

	.multicolumn-card__image-wrapper {
		max-width: 64px;
		margin-left: 0 !important;
		margin-right: 1rem !important;
	}
}
