@import '../config';

.product {
	.product__media-wrapper {
		max-width: 50% !important;
		width: 50% !important;
	}

	.product__info-wrapper {
		max-width: 50% !important;
		width: 50% !important;
	}

	.product__title {
		font-size: 64px;
		line-height: 1.3;
		color: $white;
		margin-bottom: 18px;
		font-weight: 900;
	}

	.product__info-container {
		.product__description {
			height: 80px;
			overflow: hidden;
			margin-bottom: 0;
			transition: all 300ms ease-in-out;
			* {
				font-size: 24px;
				line-height: 160%;
				color: #8A90A3;
			}
		}

		.product__description--open {
			height: 100%;
		}

		.product__description-trigger {
			display: inline-block;
			cursor: pointer;
			margin-top: 0;
			margin-bottom: 64px;
			font-size: 20px;
		}
	}

	.product-form__quantity {
		display: none;
	}

	.product-form__input input[type=radio] + label {
		padding: 1.25rem 1rem;
		border-radius: 0;
		border: 2px solid #32343E;
		color: $white;
	}

	.product-form__input input[type=radio]:checked + label {
		background-color: $white;
		color: #0A0A0B;
	}

	fieldset.product-form__input {
		margin-bottom: 32px;
		.form__label {
			margin-bottom: 32px;
			font-weight: 900;
			font-size: 18px;
			line-height: 1.1;
			letter-spacing: 0.45em;
			text-transform: uppercase;
			color: $white;
		}
	}

	.product__tax {
		display: none;
	}

	.price__regular {
		color: $white;
		font-weight: 800;
		font-size: 21px;
		line-height: 1.3;
	}

	.product-form__submit {
		span {
			display: flex;
			align-items: center;
		}
	}

	.product__media-icon {
		display: none !important;
	}

	.share-button {
		display: none;
		// ToDo: změnit
	}
}

.product--no-media {
	max-width: 100% !important;
	.product__title {
		text-align: left !important;
	}
}
