@import '../config';
@import '../core/breakpoints';

.product {
	.product__media-wrapper {
		max-width: 50% !important;
		width: 50% !important;
		@include max640px {
			max-width: 100% !important;
			width: 100% !important;
		}
	}

	.product__info-wrapper {
		max-width: 50% !important;
		width: 50% !important;
		@media screen and (max-width: 740px) {
			padding-left: 2rem;
		}

		@include max640px {
			max-width: 100% !important;
			width: 100% !important;
			padding-left: 0;
		}
	}

	.product__title {
		font-size: 64px;
		line-height: 1.3;
		color: $white;
		margin-bottom: 18px;
		font-weight: 900;
		@include max940px {
			font-size: 48px;
		}

		@include max480px {
			font-size: 9vw;
		}
	}

	.product__media-item {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.product__info-container {
		.product__description {
			height: 140px;
			overflow: hidden;
			margin-bottom: 0;
			transition: all 300ms ease-in-out;
			@include max940px {
				height: 90px;
			}

			* {
				font-size: 24px;
				line-height: 160%;
				color: #8A90A3;
				@include max940px {
					font-size: 18px;
				}
			}
		}

		.product__description--open {
			height: 100%;
		}

		.product__description-trigger {
			display: inline-block;
			cursor: pointer;
			margin-top: 0;
			margin-bottom: 64px;
			font-size: 20px;
			@include max768px {
				margin-bottom: 2.5rem;
			}
		}
	}

	.product-form__quantity {
		display: none;
	}

	.product-form__input input[type=radio] + label {
		padding: 1.25rem 1rem;
		border-radius: 0;
		border: 2px solid #32343E;
		color: $white;
	}

	.product-form__input input[type=radio]:checked + label {
		background-color: $white;
		color: #0A0A0B;
	}

	fieldset.product-form__input {
		margin-bottom: 32px;
		.form__label {
			margin-bottom: 32px;
			font-weight: 900;
			font-size: 18px;
			line-height: 1.1;
			letter-spacing: 0.45em;
			text-transform: uppercase;
			color: $white;
		}
	}

	.product__tax {
		display: none;
	}

	.price__regular {
		color: $white;
		font-weight: 800;
		font-size: 21px;
		line-height: 1.3;
	}

	.product-form__submit {
		span {
			display: flex;
			align-items: center;
		}
	}

	.product__media-icon {
		display: none !important;
	}

	.share-button {
		display: none;
		// ToDo: změnit
	}
}

.product--no-media {
	max-width: 100% !important;
	.product__title {
		text-align: left !important;
	}
}

.product-recommendations {
	.grid {
		@include max640px {
			justify-content: space-between;
		}
	}

	.grid__item {
		@include max640px {
			max-width: 49%;
		}
	}

	.card-information__text {
		@include max640px {
			font-size: 20px;
			min-height: 78px;
		}
	}

	.price {
		.price-item {
			@include max640px {
				font-size: 16px;
			}
		}
	}
}

.product-media-modal__toggle .icon {
	path {
		fill: $black;
	}
}

.product-label {
	display: inline-block;
	background-color: $white;
	padding: 0.25rem 0.5rem;
	color: $black !important;
	font-family: $circular;
	margin-bottom: 1rem;
}
